/**
* {{{description}}}
*/
create table {{name}}(
{{#columns}}
  {{name}} {{type}}{{^isEnum
  }}{{#hasLength}}({{length}}){{/hasLength}}{{/isEnum
  }}{{#isEnum
  }}({{#enumClass.entries}}'{{name}}'{{^isLast}}, {{/isLast}}{{/enumClass.entries}}){{/isEnum
  }}{{#notNull}} NOT NULL{{/notNull}},
{{/columns}}
{{#metaColumns}}
  {{name}} {{type}}{{#hasLength}}({{length}}){{/hasLength}} {{#notNull}}NOT NULL{{/notNull}},
{{/metaColumns}}
{{#hasId}}  PRIMARY KEY ( {{idColumns}} ){{/hasId}}
);

