{{>copyright}}
package {{namespace}};

import javax.persistence.Entity;
{{#hasId}}import javax.persistence.Id;
{{/hasId}}import lombok.Data;
import lombok.NoArgsConstructor;
{{#hasLengthColumn}}import org.hibernate.validator.constraints.Length;
{{/hasLengthColumn}}{{#uniqueEnums}}
  import {{namespace}}.*;
{{/uniqueEnums}}

/**
* {{{description}}}
*
* @author entity-generator
*/
@Data
@Entity
@NoArgsConstructor
public class {{javaName}} {
{{#columns}}

  /** {{{description}}} */
  {{#isPk}}    @Id
  {{/isPk}}{{#hasLength}}    @Length(max = {{length}})
  {{/hasLength}}
  private {{javaType}} {{javaName}};
{{/columns}}
{{#metaColumns}}

  /** {{{description}}} */
  {{#hasLength}}    @Length(max = {{length}})
  {{/hasLength}}
  private {{javaType}} {{javaName}};
{{/metaColumns}}
}

